@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
/* line 106, ../../../../../../Ruby23/lib/ruby/gems/2.3.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.71429em;
}

/*Media*/
/* line 26, ../sass/screen.scss */
body {
  font-size: 1em;
  line-height: 1.71429em;
  font-family: 'Roboto', sans-serif;
}

/* line 31, ../sass/screen.scss */
.domena, h1, h2, h4 {
  font-family: 'Bubblegum Sans', cursive;
}

/* line 35, ../sass/screen.scss */
h4 {
  font-size: 1.42857em;
  line-height: 1.2em;
}

/*Nawigacja*/
/* line 40, ../sass/screen.scss */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  position: relative;
}

/* line 46, ../sass/screen.scss */
.navbar-default {
  background-color: #008c99;
  border-color: transparent;
  z-index: 11;
}
/* line 52, ../sass/screen.scss */
.navbar-default .navbar-nav li a {
  color: #fff;
}

/* line 59, ../sass/screen.scss */
.nav
li {
  display: inline-block;
  text-align: center;
}

/* line 65, ../sass/screen.scss */
.navbar-header {
  float: none;
}

/* line 69, ../sass/screen.scss */
.navbar-nav {
  padding: 0.5em 2em;
  text-align: justify;
}
/* line 72, ../sass/screen.scss */
.navbar-nav li {
  float: none;
  z-index: 2;
}
/* line 75, ../sass/screen.scss */
.navbar-nav li a {
  font-size: 1em;
  line-height: 1.71429em;
  letter-spacing: 1px;
  padding: 0.4em;
}
/* line 79, ../sass/screen.scss */
.navbar-nav li a:focus, .navbar-nav li a:hover {
  text-decoration: none;
  background-color: transparent;
}

/* line 87, ../sass/screen.scss */
.navbar-collapse {
  padding: 0px;
}

/* Logo */
/* line 92, ../sass/screen.scss */
.domena {
  z-index: 12;
  position: relative;
  font-size: 3.21429em;
  line-height: 1.6em;
  text-align: center;
  padding-bottom: 2em;
}
/* line 98, ../sass/screen.scss */
.domena a {
  color: #e30377;
}

/* line 103, ../sass/screen.scss */
.wrap {
  background: url(../img/header.jpg);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 560px;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  /* line 103, ../sass/screen.scss */
  .wrap {
    height: 150px;
  }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
  /* line 103, ../sass/screen.scss */
  .wrap {
    height: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
  /* line 103, ../sass/screen.scss */
  .wrap {
    height: 300px;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  /* line 103, ../sass/screen.scss */
  .wrap {
    height: 400px;
  }
}

/* line 123, ../sass/screen.scss */
.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  padding-top: 1.71429em;
  padding-bottom: 1.71429em;
  margin-bottom: 0;
}
/* line 128, ../sass/screen.scss */
.breadcrumb a {
  color: #333;
}

/* Zawarto┼Ť─ç */
/* line 134, ../sass/screen.scss */
.thumbnail {
  padding: 0;
  border-radius: 0;
  margin-bottom: 1.71429em;
  border-color: #ccc;
}
/* line 139, ../sass/screen.scss */
.thumbnail img {
  width: 100%;
}
/* line 142, ../sass/screen.scss */
.thumbnail .caption {
  border-top: 1px solid #ccc;
}
/* line 144, ../sass/screen.scss */
.thumbnail .caption h4 {
  font-size: 1.42857em;
  line-height: 1.2em;
}
/* line 146, ../sass/screen.scss */
.thumbnail .caption h4 a {
  color: #2f2f2f;
}
/* line 148, ../sass/screen.scss */
.thumbnail .caption h4 a:hover, .thumbnail .caption h4 a:focus {
  color: #e30377;
}

/* line 156, ../sass/screen.scss */
.pull-right {
  position: relative;
  top: -2.8em;
  padding-right: 0.65em;
  color: #5c5c5c;
}

/* line 163, ../sass/screen.scss */
.lastPost {
  padding: 3em 0;
  border-bottom: 1px solid #ccc;
}
/* line 166, ../sass/screen.scss */
.lastPost:last-child {
  border-bottom: none;
}
/* line 170, ../sass/screen.scss */
.lastPost h2:first-child {
  margin-top: 0;
}
@media screen and (max-width: 1100px) {
  /* line 163, ../sass/screen.scss */
  .lastPost {
    padding: 1em 0;
  }
}

/* line 181, ../sass/screen.scss */
.posty section:first-child {
  padding-top: 0;
}

/* line 187, ../sass/screen.scss */
.lead {
  font-size: 1.1em;
  line-height: 1.6;
}

/* line 192, ../sass/screen.scss */
h2 {
  font-size: 2em;
  line-height: 1.71429em;
  color: #5bb834;
}

/* line 197, ../sass/screen.scss */
.footer {
  background: #008c99;
  color: #fff;
  padding-top: 0.5em;
  font-size: 1.14286em;
  line-height: 1.5em;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  /* line 207, ../sass/screen.scss */
  .col-sm-4 {
    width: 100% !important;
  }
}
@media screen and (min-width: 1100px) {
  /* line 213, ../sass/screen.scss */
  .content h2 {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 767px) {
  /* line 219, ../sass/screen.scss */
  .domena {
    position: absolute;
    top: 0;
    left: 0.75em;
    font-size: 2.5em;
  }
  /* line 224, ../sass/screen.scss */
  .domena a {
    color: #fff;
  }

  /* line 228, ../sass/screen.scss */
  .navbar-toggle {
    background-color: rgba(255, 255, 255, 0.95);
  }

  /* line 231, ../sass/screen.scss */
  .navbar-collapse {
    width: 100%;
  }

  /* line 235, ../sass/screen.scss */
  .nav li {
    background-color: transparent;
    display: block;
  }

  /* line 240, ../sass/screen.scss */
  .categ {
    padding: 1em 0;
  }

  /* line 243, ../sass/screen.scss */
  .page {
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  /* line 250, ../sass/screen.scss */
  .page .col-lg-4 {
    width: 50%;
    float: left;
  }
}
